{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор</h1>
<p>
  Меня зовут Олеся. В мир программирования я попала благодаря своему сыну. 
  Ему тяжело далось обучение в онлайн-клубе Яндекс Учебника и мне захотелось помочь. 
  Я так увлеклась, что решила пройти бесплатные курсы для начинающих "Поколение Python"
  на stepik.org. Меня настолько затянуло обучение, я просто не могла остановиться решать задачи. 
  Иногда я сидела на сайте по 8 часов в день. Когда я поняла, что до этого момента добровольно 
  не тратила такого количества времени даже на хобби, осознала, что пора идти учиться
  в Яндекс Практикум. Я нахожусь в процессе обучения. Каждый новый спринт вызывает страх, - боюсь, 
  что у меня не получится! Но я не останавливаюсь, вспоминаю слова одного из наставников. Он 
  сказал что-то вроде: "Ответ на вопрос "сможете ли вы доучиться до конца" зависит не от сложности
  материала, а от количества времени, которое вы готовы потратить на обучение." Время у меня есть
  и в процессе обучения оно пролетает незаметно!

  Тут я размещу информацию о себе, используя свои умения верстать.
  Картинки, блоки, элементы бустрап. https://github.com/olees-orlenko
</p>
{% endblock %}