{% extends 'base.html' %}
{% block title %}
  Профайл пользователя {{ author.get_full_name }}
{% endblock %}
{% block content %}
      <div class="container py-5">        
        <h1>Все посты пользователя {{ author.get_full_name }} </h1>
        <h3>Всего постов: {{ author.posts.count }} </h3>  
        {% for post in page_obj %} 
        <article>
          <ul>
            <li>
              Дата публикации: {{ post.pub_date|date:"d E Y" }} 
            </li>
          </ul>
          <p>
            {{ post.text|linebreaks }}
          </p>
          <a href="{% url 'posts:post_detail' post.id %}">подробная информация</a>
          </p>
          {% if post.group %}
          <p>
          <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
          </p>
        {% endif %}
        {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
      {% include 'includes/paginator.html' %}
  </div>
{% endblock %}